<div style="height: 100%; overflow: hidden">
  <div class="home-titles">
    Bets you placed credits on
  </div>
  <div class="scroller home-bodies">
    <div *ngIf="(userBets$ | async) as bets" style="cursor: pointer; margin-bottom: 60px;">
      <div *ngFor="let bet of bets" class="sidebar-color topic-list">
        <div class="col-10" style="font-size: 25px">
          <span style="font-weight: bolder">
            {{bet.topic.title}}
          </span>
          <span>
            ({{bet.credit}} credits placed)
          </span>
        </div>
        <div class="col-2">
          <div class="menu-button select-button" (click)="onSelectTopic(bet)">
            View Topic
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
