<div style="height: 100%; overflow: hidden">
  <div class="home-titles">
    Topics you created
  </div>
  <div class="scroller home-bodies">
    <div class="sidebar-color create-topic" (click)="onCreateTopic()">
      <span style="margin-right: 30px">
        <mat-icon class="icon-styles">
          add
        </mat-icon>
      </span>
      <span style="font-size: 30px;">
        Create a new public topic!
      </span>
    </div>
    <div style="margin-bottom: 60px;">
      <div *ngFor="let topic of topics" class="sidebar-color topic-list">
        <div class="col-8" style="font-size: 25px">
          {{topic.title}}
        </div>
        <div class="col-2" style="padding-right: 5px">
          <div class="menu-button select-button" (click)="onSelectTopic(topic)">
            View Topic
          </div>
        </div>
        <div class="col-2" style="padding-left: 5px">
          <div class="menu-button select-button" (click)="onResolveTopic(topic)">
            Resolve Topic
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
