
.login-body {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  flex-grow: 1;
}

.login-layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.login-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px
}

.login-button {
  width: 100%;
  margin: 0;
  border-radius: 5px
}

.disabled-button {
  background-color: darkgray;
  color: lightgrey;
  cursor: default
}
