<app-header></app-header>
<div class="page" style="display: flex; flex-direction: column;">
  <div class="category-background-color login-body">
    <div class="login-layout">
      <div *ngIf="!createAccount">
        <form [formGroup]="loginForm">
          <div
            class="login-title">
            Login
          </div>
          <div style="margin-bottom: 20px">
            Please log in with your username and password.
          </div>
          <div style="width: 100%; margin-bottom: 20px">
            <input type="text" class="input-fields category-background-color" id="username" formControlName="username">
            <label for="username" style="font-size: 12px">Username</label>
          </div>
          <div style="width: 100%; margin-bottom: 20px">
            <input type="password" class="input-fields category-background-color" id="password" formControlName="password">
            <label for="password" style="font-size: 12px">Password</label>
          </div>
          <div style="width: 100%">
            <button class="menu-button login-button" (click)="onLogin()"
                    *ngIf="loginForm.get('username').valid && loginForm.get('password').valid">
              Log In
            </button>
            <button class="menu-button login-button disabled-button"
                    *ngIf="!loginForm.get('username').valid || !loginForm.get('password').valid">
              Log In
            </button>
            <button class="menu-button login-button" style="margin-top: 20px" (click)="createAccount=true"
                    *ngIf="!createAccount">
              Create a new account
            </button>
          </div>
          <div *ngIf="showLoginErrorMessage" style="color: red">
            An error occured. Please check if the entered data is correct.
          </div>
        </form>
      </div>
      <div *ngIf="createAccount">
        <form [formGroup]="creationForm">
          <div class="login-title">
            Account creation
          </div>
          <div style="margin-bottom: 20px">
            Please enter your username and password to create an account.
          </div>
          <div style="width: 100%; margin-bottom: 20px">
            <input type="text" class="input-fields category-background-color" id="creationUsername" formControlName="username">
            <label for="creationUsername" style="font-size: 12px">Username</label>
          </div>
          <div style="width: 100%; margin-bottom: 20px">
            <input type="password" class="input-fields category-background-color" id="creationPassword" formControlName="password">
            <label for="creationPassword" style="font-size: 12px">Password</label>
          </div>
          <div style="width: 100%">
            <button class="menu-button login-button" (click)="onCreateAccount()"
                    *ngIf="creationForm.get('username').valid && creationForm.get('password').valid">
              Finish account creation
            </button>
            <button class="menu-button login-button disabled-button"
                    *ngIf="!creationForm.get('username').valid || !creationForm.get('password').valid">
              Finish account creation
            </button>
            <button class="menu-button login-button" style="margin-top: 20px" (click)="createAccount=false"
                    *ngIf="createAccount">
              Already have an account? Log in!
            </button>
          </div>
          <div *ngIf="showServerCreationError" style="color: red">
            Username and password must have length between 4 and 20 characters! (420 nice)
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
