.body {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.layout {
  width: 50%;
  font-size: 20px
}

.page-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1.2;
}

.bet-option {
  padding: 10px;
  height: 84px;
  border: 1px solid white;
  align-items: center;
  display: flex;
  margin-bottom: 20px
}

.chosen-option {
  background-color: #45a29e;
}

.won-option {
  background-color: rgb(133, 182, 83);
}

.lost-chosen-option {
  background-color: rgb(218, 105, 105);
}

.explanation {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 15px
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
