<app-header></app-header>
<div class="page">
  <div class="scroller category-background-color body">
    <div class="layout">
      <button class="menu-button" (click)="onReturn()" style="width: 150px; max-width: 100%; margin-bottom: 20px;">
        Return
      </button>
      <div class="page-title">
        {{topic.title}}
      </div>
      <div style="margin-bottom: 20px">
        {{topic.description}}
      </div>
      <div class="explanation">
        {{getInfoMessage()}}
      </div>
      <!-- Showing list of options -->
      <div *ngFor="let opt of topic.options">
        <div class="bet-option" (click)="onSelect(opt)" [ngClass]="getOptionClass(opt)">
          {{opt.title}}
          <div *ngIf="placedBet && placedBet.betOption.id == opt.id">
            &nbsp;({{placedBet.credit}} credits)
          </div>
        </div>
      </div>
      <!-- Blacing a bet (if possible) and error message -->
      <div style="margin-bottom: 50px; text-align: center;">
        <div *ngIf="!placedBet" style="margin: auto; width: 30%;">
          <div style="margin-bottom: 10px;">
            Available credit: {{user.credit}}
          </div>
          <input [(ngModel)]="inputCredit" type="text" class="input-fields category-background-color"
            style="margin-bottom: 10px; text-align: center;" placeholder="Credit...">
          <button class="menu-button" (click)="onConfirm()" style="margin-bottom: 10px;">
            Confirm
          </button>
        </div>
        <div *ngIf="errorMessage" style="color: red;">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
