<app-header></app-header>
<div class="page">
  <div class="scroller category-background-color create-body">
    <div class="layout">
      <button class="menu-button" (click)="onReturn()" style="width: 30%; max-width: 100%; margin-bottom: 20px;">
        Return
      </button>
      <div class="page-title">
        {{selectedTopic.title}}
      </div>
      <div style="margin-bottom: 10px">
        {{selectedTopic.description}}
      </div>
      <div style="margin-bottom: 20px">
        Which bet option is the winning bet option?
      </div>
      <div *ngIf="winningOption">
        <div *ngFor="let option of selectedTopic.options" style="margin-bottom: 20px">
          <div class="sidebar-color bet-option" [ngClass]="(option.id === winningOption.id) ? 'winning-option' : ''"
               style="justify-content: space-between;" (click)="onSelectWinningOption(option)">
            {{option.title}}
          </div>
        </div>
      </div>
      <div *ngIf="!winningOption">
        <div *ngFor="let option of selectedTopic.options" style="margin-bottom: 20px">
          <div class="sidebar-color bet-option" (click)="onSelectWinningOption(option)"
               style="justify-content: space-between;">
            {{option.title}}
          </div>
        </div>
      </div>
      <div class="button-row">
        <div style="width: 30%">
          <button class="menu-button" (click)="onReturn()">
            Cancel
          </button>
        </div>
        <div style="width: 30%" (click)="onResolveTopic()" *ngIf="winningOption">
          <button class="menu-button">
            Resolve topic
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
