<app-header></app-header>
<div class="page flex-column">
  <div class="home-body">
    <div class="container home-body" style="height: 100%">
      <div class="row" style="height: 100%; position: relative;">
        <div class="col-2 sidebar-color" style="height: 100%;">
          <app-menu (changePageEvent)="changePageNumber($event)"></app-menu>
        </div>
        <div class="col-10 category-background-color" style="height: 100%; padding-left: 0; padding-right: 0">
          <div style="height: 100%;" *ngIf="pageNumber==0">
            <app-public-bet-overview></app-public-bet-overview>
          </div>
          <div style="height: 100%;" *ngIf="pageNumber==1">
            <app-self-created-bets></app-self-created-bets>
          </div>
          <div style="height: 100%;" *ngIf="pageNumber==2">
            <app-self-bet-overview></app-self-bet-overview>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
