<app-header></app-header>
<div class="page">
  <div class="scroller category-background-color create-body">
    <div class="layout">
      <div class="page-title">
        Create a new Topic
      </div>
      <form [formGroup]="creationForm" class="flex-column">
        <div style="margin-bottom: 20px">
          Topic title: What is your bet question?
        </div>
        <input
            type="text"
            class="input-fields category-background-color"
            formControlName="title"
            style="margin-bottom: 40px"
            placeholder="Title...">
        <div style="margin-bottom: 10px">
          Shortly describe the topic with more details:
        </div>
        <div class="pro-tip">
          (Pro tip: You can also add links to a voice chat server or a messaging group to keep in touch
          with other betters)
        </div>
        <textarea
            appAdaptRows
            class="input-fields category-background-color"
            maxlength="auto"
            style="margin-bottom: 40px"
            formControlName="description"
            placeholder="Description..."></textarea>
        <div style="margin-bottom: 20px">
          Add all possible outcomings that participants can gamble on:
        </div>
        <div>
          <div class="sidebar-color bet-option"
              style="cursor: pointer;"
              (click)="onCreateBetOption()"
              *ngIf="!showBetOptionCreation">
            <span style="margin-right: 30px">
              <mat-icon class="icon-styles">
                add
              </mat-icon>
            </span>
            <span style="font-size: 30px">
              Add option
            </span>
          </div>
          <div class="sidebar-color bet-option"
              style="justify-content: space-between;"
              (click)="onCreateBetOption()"
              *ngIf="showBetOptionCreation">
            <input class="input-fields sidebar-color"
                formControlName="betOptionTitle"
                style="width: 75%"
                placeholder="Option...">
            <div class="col-3" style="width: 15%">
              <button class="menu-button"
                  (click)="onAddBetOption()">
                Add
              </button>
            </div>
          </div>
          <div *ngFor="let option of topicOptions" style="margin-bottom: 20px">
            <div class="sidebar-color bet-option"
              style="justify-content: space-between;">
              {{option}}
            </div>
          </div>
        </div>
        <div class="button-row">
          <div style="width: 30%">
            <button class="menu-button" (click)="onCancelCreation()">
              Cancel
            </button>
          </div>
          <div style="width: 30%" (click)="onPublishTopic()" *ngIf="!(topicOptions.length < 2) && creationForm.valid">
            <button class="menu-button">
              Save topic
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
