.create-body {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.layout {
  width: 50%;
  font-size: 20px
}

.page-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px
}

.pro-tip {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 15px
}

.bet-option {
  padding: 10px;
  height: 84px;
  border: 3px dashed white;
  align-items: center;
  display: flex;
  margin-bottom: 20px
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
