/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.css';

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

app-root {
  flex: 1 1 auto;
}

.menu-button {
  width: 100%;
  background-color: #45a29e;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition-duration: 0.5s;
  margin: 4px 2px;
  padding: 16px 28px;
  display: inline-block;
  border-radius: 5px;
}

.menu-button:hover {
  color: white;
  background-color: #66fcf1;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #ffffff #ffffff00;
  scrollbar-width: thin;
}

/* width */
.scroller::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scroller::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.scroller::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
.scroller::-webkit-scrollbar-thumb:hover {
  background: #d7d7d7;
}

.input-fields {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: none;
  color: white;
}

.page {
  background-color: #262626;
  height: 90vh;
  color: white;
  line-height: 1.75rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.sidebar-color {
  background-color: #1f2833;
}

.font-color {
  color: #c5c6c7;
}

.category-background-color {
  background-color: #364659;
}

.icon-styles {
  font-size: 35px;
  margin-top: 5px
}

.home-titles {
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  background-color: #0f0f0f
}

.home-bodies {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll
}

.create-topic {
  padding: 10px;
  height: 84px;
  border: 3px dashed white;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
}

.topic-list {
  padding: 10px;
  margin-bottom: 10px;
  min-height: 84px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.select-button {
  cursor: pointer;
  height: 75%;
  border-radius: 5px;
  text-align: center
}
