<div class="headbar">
  <div class="logo-container" style="height: 100%; width: 100%; float: left;">
    <img src="assets/Bets.png" height="80%">
  </div>
  <button class="discord-button" onclick="window.open('https://discord.gg/bZPGjGsWcu','_blank')">
    <mat-icon style="font-size: 30px; margin-left: 10px;">discord</mat-icon>
    Join on Discord!
  </button>
</div>
