.headbar {
  background-color: #0b0c10;
  color: white;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px
}

.discord-button {
  height: 70%;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-right: 50px;
  border-radius: 5px;
}
