<div>
  <h2>Leaderboard</h2>
  <table class="table table-dark table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Credit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of leaderboard, let i = index"
        [ngClass]="ownPos == (i+1) ? 'own' : ''">
      <td>{{i + 1}}</td>
      <td>{{u.username}}</td>
      <td>{{u.credit}}</td>
    </tr>
    <tr *ngIf="user && !isInLeaderboard()" class="own">
      <td>{{ownPos}}</td>
      <td *ngIf="(user$ | async) as userObs;">{{userObs.username}}</td>
      <td *ngIf="(user$ | async) as userObs;">{{userObs.credit}}</td>
    </tr>
    </tbody>
  </table>
</div>
